<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/" method="POST">
      <label for="english">Enter Phrase:</label>
      <input type="text" name="english">
      <input type="submit" value="Latinize!">
      
    </form>
  
  </body>
</html>